<a href='#'>Show all profiles</a>
<% if @users.any? %>
  <% @users.each do |user| %>
    <h2> <%= user.username %> </h2>
    <h2> <%= user.city user.counrty %> </h2>
    <%= image_tag user.image.url(:orginal) %>
  <% end %>
<% else %>
  No profiles yet
<% end %>
